
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "arial";
}

.header-inner-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: #2c2c2c;
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px #2c2c2c;
  z-index: 99;
}

.navbar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #00ff0dfa;
}
.logo span {
  color: #ffff;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}

.nav-icon-container img {
  width: 28px;
  cursor: pointer;
}

.nav-icon-container img:first-child {
  margin-right: 1rem;
}

nav ul li {
  color: #fff;
  margin-right: 1.5rem;
  cursor: pointer;
}

nav ul li:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

.menu-button {
  display: none;
}

header {
  background-color:radial-gradient(#fff, #c7c7c7);
}

.header-bottom-side {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 1rem;
}

.header-bottom-side-left {
  height: 100%;
  flex-basis: 50%;
}

.header-bottom-side-left h2 {
  font-size: 3, 2rem;
  margin-bottom: 1.5rem;
}

.header-bottom-side-left p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.header-bottom-side-left button {
  background-color: #41e002;
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3;
}

.header-bottom-side-left button:hover {
  background-color: #39c900ec;
}

.header-bottom-side-right {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom-side-right img {
  width: 115%;
}
