*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:   'arial';
}

.header-inner-content{
    max-width: 1300px;
    margin-left:auto;
    margin-right:auto;
}

.navbar{
    background-color: #2c2c2c;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.navbar>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #00ff0dfa;   
}
.logo span{
    color: #ffff;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container{
    display: flex ;
    align-items: center;
}

.nav-icon-container img{
    width: 28px;
    cursor: pointer;
}

.nav-icon-container img:first-child{
    margin-right: 1rem;
}

nav ul li{
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover{
    transform:translateY(-5px)
    transition: all 0.2s;
    font-weight: bold;
}

.menu-button{
    display: none ;
}


